<nav class="d-flex justify-content-around w-75">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Cellar", "Index", "Wines")</p>
  <p>@Html.ActionLink("Manage Account", "Index", "Account")</p>
</nav>